.App {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px steelblue;
  width: 600px;
  height: 350px;
  padding: 1em;
  margin: 150px auto;
}


/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
